.card {
    background-color: var(--secondary-color);
    width: 1300px;
}

input[type = text], input[type = email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;
}

.sub-text {
    width: 500px;
}