<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto sub-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus
            </p>
            <form class="row g-3 mt-1 justify-content-center">
                <div class="col-5">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" class="form-control shadow-effect" id="name" placeholder="Your Name">
                </div>
                <div class="col-5">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="email" class="form-control shadow-effect" id="email" placeholder="Email Address">
                </div>
                <div class="d-grid col-2">
                    <button type="submit" class="btn btn-primary btn-sub">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>
