<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can leave a comment using a comment form</p>

        <form>
            <div class="mb-3">
                <label for="">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your name">
            </div>
             <div class="mb-3">
                <label for="">Comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add your comment"></textarea>
            </div>
            <button class="btn btn-primary btn-theme">Add Comment</button>
        </form>
    </div>
</div>
